{% extends "base.html" %} {% block content %}
<div>
  <h1>{{ article.title }}</h1>
  {% if article.image %}
  <img width="300px" src="{{ article.image.url }}" alt="{{ article.title }}" />
  {% endif %}
  <p>{{ article.category }}</p>
  {% for tag in article.tags.all %}
  <p>{{ tag }}</p>
  {% endfor %}
  <p><strong>Autor: </strong>{{ article.author }}</p>
  <p><strong>Fecha: </strong>{{ article.created_at }}</p>
  <p>{{ article.content }}</p>
  {% if user.is_authenticated and user == article.author and last_review %}
  <div style="border: 1px solid">
    <h3>Feedback del editor</h3>
    <p>{{ last_review.comments }}</p>
    <p><small>Revisado por {{ last_review.editor }} el {{ last_review.reviewed_at }}</small></p>
  </div>
  {% endif %}
  <h3>Comentarios</h3>
  {% for comment in article.comments.all %}
  <p>{{ comment.user.username }}: {{ comment.content }}</p>
  {% endfor %}
  <button id="like-btn" data-url="{% url 'toggle_like' article.slug %}">
    <span id="like_text">
      {% if user in article.liked_by.all %}Unlike{% else %}Like{% endif %}
    </span>
  </button>
  <span style="margin-left: 20px;" id="like_count">{{ article.total_likes }}</span> Likes
  <form method="post">
    {% csrf_token %} {{ form.content.errors }}
    <div style="margin-bottom: 10px">{{ form.content }}</div>
    <button type="submit">Comentar</button>
  </form>
  
  <script>
    const likeButton = document.getElementById("like-btn");
    const likeText = document.getElementById("like_text");
    const likeCount = document.getElementById("like_count");
    
    likeButton.addEventListener("click", (event) => {
      event.preventDefault();
      
      fetch(likeButton.dataset.url, {
        method: "POST",
        headers: {
          "X-CSRFToken": "{{ csrf_token }}",
          "Content-Type": "application/json",
        }
      })
      .then((response) => response.json())
      .then((data) => {
        likeCount.textContent = data.total_likes;
        likeText.textContent = data.liked ? "Unlike" : "Like";
      })
      .catch(error => console.error("Error:", error));
    });
  </script>
</div>
{% endblock content %}